# Git files
.git
.gitignore

# Laravel dependencies & environment files
/vendor
.env
.env.*

# Node dependencies and lock files
**/node_modules
**/yarn.lock
**/pnpm-lock.yaml

# Frontend build cache/artifacts
vms-frontend/vue-project/.cache
vms-frontend/vue-project/.output

# Miscellaneous
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
